# Auto detect text files and perform LF normalization
* text=auto
# Large Files mit Git LFS
# Polarion ZIP-Datei wird über Git LFS verwaltet
*.zip filter=lfs diff=lfs merge=lfs -text
# Andere große Dateien
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
